<h2><%= @user.username %></h2>

<p><%= @user.bio %></p>

<h3>Posts</h3>

<%= render partial: "posts/post", collection: @user.posts %>

<h3>Favourite posts:</h3>

<%= render partial: "posts/post", collection: @user.liked_posts %>