<h2>Search for <%= @query %></h2>

<% if @posts.any? %>

<h3>Posts:</h3>

<% end %>

<%= render partial: "posts/post", collection: @posts %>

<% if @users.any? %>

<h3>Users:</h3>

<ul>
	<% @users.each do |user| %>
	<li><%= link_to highlight(user.username, @query), user_path(user) %></li>
	<% end %>
</ul>

<% end %>