<h3>Comments:</h3>

<% if @post.comments.any? %>
	<% @post.comments.each do |comment| %>
	<div class="comment">
		<h4><%= comment.user.username %> says:</h4>
		<p><%= simple_format comment.body %></p>
	</div>
	<% end %>
<% else %>
	<p>No comments</p>
<% end %>

